<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="HerokuAppFullSuite">
    <test name="Misc and DOM">
        <classes>
            <!-- <class name="testCases.misc.ABTestPageTest"/> -->
            <!-- <class name="testCases.misc.AddRemoveElementsPageTest"/> -->
            <class name="testCases.misc.BrokenImagesPageTest"/>
        </classes>
    </test>
    <test name="Auth">
        <classes>
            <!-- <class name="testCases.auth.BasicAuthPageTest"/> -->
        </classes>
    </test>
</suite>